<div *ngIf="note">
    <h2>{{note.name}} ({{note.id}})</h2>
    <br>
    <div>
        <label for="name">Name: </label><br>
        <input id="name" [(ngModel)]="note.name" placeholder="name">
    </div>
    <br>
    <div>
        <label for="text">Text: </label><br>
        <textarea id="text" [(ngModel)]="note.text" placeholder="text"></textarea>
    </div>
    <span class="created">create: {{note.creation_date | date: "mediumDate" }}</span> <br>
    <span class="edited">edit: {{note.edit_date | date: "mediumDate" }}</span> <br>
    <button (click)="goBack()">Back</button> 
    <button (click)="save()">Save</button>
    <button class="delete" (click)="delete(note)">Delete</button>
</div>