table {
    width: 50vw;
    border: none;
    border-collapse: collapse;
}

.delete-cell {
    width: 5%;
}

tr:nth-child(even) {
    background: #3AAEA9
}

tr:nth-child(odd) {
    background: #DEF2F1
}

tr {
    height: 50px;
}

.name {
    font-weight: bold;
    font-size: large;
}

.date {
    font-size: small;
}

.properties span {
    margin-left: 10px;
}

.properties td:visited {
    text-decoration: none;
    color: black;
}

.properties td:link {
    text-decoration: none;
    color: black;
}

.delete {
    width: 90%;
    height: 30px;
    opacity: 0.5;
}

.delete:hover {
    background-color: #ED2939;
}

.delete:active {
    opacity: 0.9;
}