<div class="notes">
    <h2>My notes</h2>
    <br>
    <table>
        <tr *ngFor='let note of notes' [class.selected]='note === selectedNote' (click)="onSelect(note)">
            <td class="properties">
                <span class="name">{{note.name}}</span> <br> 
                <span class="date">{{note.creation_date}}</span>
            </td>
        </tr>
    </table>
</div>
<div class="note_detail" *ngIf='selectedNote'>
    <h2>{{selectedNote.name}} ({{selectedNote.id}})</h2>
    <br>
    <div>
        <label for="name">Name: </label><br>
        <input id="name" [(ngModel)]="selectedNote.name" placeholder="name">
    </div>
    <br>
    <div>
        <label for="text">Text: </label><br>
        <textarea id="text" [(ngModel)]="selectedNote.text" placeholder="text"></textarea>
    </div>
    <span class="created">create date: {{selectedNote.creation_date}}</span> <br>
    <span class="edited">edit date: {{selectedNote.edit_date}}</span>
</div>