<div class="notes">
    <h2>My notes</h2>
    <br>
    <table>
        <tr *ngFor='let note of notes' [class.selected]='note === selectedNote' (click)="onSelect(note)">
            <td class="properties">
                <a routerLink="/detail/{{note.id}}">
                    <span class="name">{{note.name}}</span> <br>
                    <span class="date">{{note.creation_date}}</span>
                </a>
            </td>
        </tr>
    </table>
</div>
<app-note-detail [note]="selectedNote"></app-note-detail>